<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DigitalSignature.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DigitalSignature.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <DigitalSignature.Properties.Settings>
            <setting name="FolderPath" serializeAs="String">
                <value>C:\ddrempeCryptography</value>
            </setting>
            <setting name="SymmetricKeyOutputFileName" serializeAs="String">
                <value>tajni_kljuc.txt</value>
            </setting>
            <setting name="SymmetricCryptographyPassphrase" serializeAs="String">
                <value>VerySecret</value>
            </setting>
            <setting name="PlainTextFileName" serializeAs="String">
                <value>text_for_encryption.txt</value>
            </setting>
        </DigitalSignature.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <DigitalSignature.Properties.Settings>
            <setting name="SymmetricCryptographyEncryptedFileName" serializeAs="String">
                <value>symmetric_encrypted.txt</value>
            </setting>
            <setting name="SymmetricCryptographyDecryptedFileName" serializeAs="String">
                <value>symmetric_decrypted.txt</value>
            </setting>
        </DigitalSignature.Properties.Settings>
    </userSettings>
</configuration>